__pycache__
*.pyc
_build
build
*.so
*.a
.vscode
.pylintrc
.ipynb_checkpoints
a.out
ams562_desktop.py

lecture_code/*/.ccls-cache/*
lecture_code/lecture0/.ccls-cache/@@home@agh@projects@ams562-work@ams562-notes@lecture_code@lecture0/@home@agh@software@clang+llvm-10.0.0@lib@clang@10.0.0@include@__stddef_max_align_t.h
